#email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#password {
  margin-bottom: -1px;
  border-radius: 0;
}

#password_confirm {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
