<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      {% block styles %}
      <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }} 
      {% endblock %}

      {% block customCSS %}
      {% endblock customCSS %}

      <title>SESIÓN DE USUARIO | {% block title %}{% endblock title %}</title>

    {% endblock head %}
  </head>
  <body>
    {%with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fixed-top text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                </div>
            {% endfor %}
        {% endif %}
    {%endwith%}
    
    {% block body %} 
    {% endblock body %}

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }} 
    {% endblock scripts%}

    {% block customJS %}
    {% endblock customJS %}
  </body>
</html>
