{% extends 'base.html' %} 
{% block title %} Dashboard {% endblock title%} 

{%block body %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('get_dashboard')}}">Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mb-2 mb-lg-0">
      </ul>
      <span class="mx-auto">
        <strong class="text-secondary mb-0">{{user}}</strong>
      </span>
      <a href="{{url_for('logout')}}" class="btn btn-outline-danger" role="button"
        >Cerrar Sesión</a
      >
    </div>
  </nav>
{% endblock body %}
